<div class="row">
  <div class="col-xs-8">
    <alert ng-show="notFound" type="warning">
      <p>Товар с штрих-кодом {{notFound}} не найден.</p>
    </alert>

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="input-group input-group-lg">
          <div class="input-group-btn">
            <button class="btn btn-default dropdown-toggle" dropdown type="button">
              <span class="glyphicon glyphicon-barcode" ng-if="activeOption.name === 'id'"></span>
              <span ng-hide="activeOption.name === 'id'">{{activeOption.label}}</span>
              <span class="caret" ng-show="searchOptions.length > 1"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="option in searchOptions" ng-click="setActive(option)">
                {{option.label}}
              </li>
            </ul>
          </div>

          <input type="text" class="form-control" ng-model="searchText">

          <div class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </div>
        </div>
      </div>
      <div class="panel-body" ng-hide="sale.client || sale.items.length">
        <h3>Чтобы начать, отсканируйте товар или карту клиента</h3>
      </div>
      <table class="table" ng-show="sale.items.length">
        <thead>
        <tr>
          <th>Наименование</th>
          <th>Количество</th>
          <th>Цена, р</th>
          <th>Подитог, р</th>
          <th>Скидка, %</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-hide="sale.items.length || sale.client">
          <td colspan="4"></td>
        </tr>
        <tr ng-repeat="item in sale.items" ng-controller="OrderItemCtrl">
          <td>{{item.product.name}}</td>
          <td width="15%">
            <div class="input-group">
              <input type="number" class="form-control" id="input-item-amount" ng-model="item.amount">
              <span class="input-group-addon">{{product.byWeight ? 'кг' : 'шт'}}</span>
            </div>
          </td>
          <td>{{item.price | number:2}}</td>
          <td>{{item.total | number:2}}</td>
          <td width="15%">
            <div class="input-group">
              <label class="sr-only" for="input-item-discount">Скидка</label>
              <input type="number" ng-model="item.discount" id="input-item-discount" class="form-control" ng-disabled="item.isBulk">
              <span class="input-group-addon" discount-type></span>
            </div>
          </td>
          <td>
            <button class="btn btn-default btn-sm" btn-checkbox ng-model="item.isBulk">Опт</button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" ng-click="sale.removeItem(item)"><span
              class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td>ИТОГО</td>
          <td colspan="5">{{sale.subTotal | number:2}}</td>
        </tr>
        <tr>
          <td>ИТОГО, СО СКИДКОЙ</td>
          <td colspan="5">{{sale.total | number:2}}</td>
        </tr>
        </tfoot>
      </table>
      <div class="panel-footer">
        <div class="btn-toolbar">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default" ng-click="cancel()">
              <span class="glyphicon glyphicon-ban-circle"></span> Отменить
            </button>
            <button type="button" class="btn btn-primary" ng-class="{disabled: !sale.items.length || !sale.client}" ng-click="save()">
              <span class="glyphicon glyphicon-shopping-cart"></span> Сохранить
            </button>
          </div>
          <div class="btn-group btn-group-sm">
            <button class="btn btn-default" ng-model="sale.paymentMethod" btn-radio="'CASH'">Наличные</button>
            <button class="btn btn-default" ng-model="sale.paymentMethod" btn-radio="'CARD'">Карта</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-default" ng-if="sale.client">
      <div class="panel-heading">
        <strong>Клиент: </strong>{{sale.client.name}}
      </div>
      <ul class="list-group">
        <li class="list-group-item"><strong>Дата рождения: </strong>{{sale.client.dateOfBirth}}</li>
        <li class="list-group-item"><strong>Скидка: </strong>{{sale.client.discount}}%</li>
      </ul>
    </div>
  </div>
</div>
