<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Категории
      </div>
      <div class="list-group">
        <a class="list-group-item" ng-class="{active: currentCat === null}" href ng-click="setCategory(null)">
          Все категории
        </a>
        <a ng-repeat="cat in categories" class="list-group-item" ng-class="{active: cat.id === currentCat.id}"
           ng-click="setCategory(cat)">
          <div class="row">
            <div class="col-sm-1">
              <span class="badge">{{cat.productCount}}</span>
            </div>
            <div class="col-sm-8">
              {{cat.name}}
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-default btn-xs" ng-click="editCategory(cat)">
                <span class="glyphicon glyphicon-edit"></span>
              </button>
            </div>
          </div>
        </a>
      </div>
      <div class="panel-footer">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-default btn-sm" ng-click="editCategory()">
            <span class="glyphicon glyphicon-plus"></span> Добавить
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="row voffset-15">
      <div class="col-xs-12">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group btn-group-sm" ng-show="lowProducts.length">
            <button type="button" class="btn btn-warning" btn-checkbox ng-model="showLow">
              <span class="glyphicon glyphicon-bell"></span> Товар заканчивается ({{lowProducts.length | number}})
            </button>
          </div>
          <div class="btn-group btn-group-sm pull-right">
            <a type="button" class="btn btn-default" href="#/products/invoices/add">
              <span class="glyphicon glyphicon-file"></span> Новая накладная
            </a>
            <a class="btn btn-default" href="#/products/invoices">
              <span class="glyphicon glyphicon-list-alt"></span> Показать накладные
            </a>
          </div>
        </div>
      </div>
    </div>

    <grid-panel>
      <table class="table">
        <thead>
        <tr>
          <th>Штрих-код</th>
          <th>Наименование</th>
          <th>Количество</th>
          <th>Цена (Приход)</th>
          <th>Цена (Опт)</th>
          <th>Цена (Розница)</th>
          <th>Скидка (%)</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in products">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.amount}} {{product.byWeight ? 'кг' : 'шт'}}</td>
          <td>{{product.incomePrice | number:2}}</td>
          <td>{{product.discount.bulkPrice | number:2}}</td>
          <td>{{product.price | number:2}}</td>
          <td>{{product.discount.discount}}</td>
          <td>
            <button class="btn btn-default btn-sm" ng-click="edit(product)"><span
              class="glyphicon glyphicon-edit"></span></button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" ng-click="remove(product)"><span
              class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
        </tbody>
      </table>
    </grid-panel>
  </div>
  <div class="col-sm-2">
  </div>
</div>
