<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title"><span class="glyphicon glyphicon-edit"></span> {{product.name}}</h4>
</div>
<div class="modal-body">
  <tabset>
    <tab heading="Основное">
      <form role="form" class="form-horizontal" novalidate>
        <div class="form-group"></div>
        <div class="form-group">
          <label for="input-barcode" class="col-sm-3 control-label">Штрих-код:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="input-barcode" ng-model="product.id" ng-disabled="!add">
          </div>
        </div>
        <div class="form-group">
          <label for="input-category" class="col-sm-3 control-label">Категория:</label>
          <div class="col-sm-9">
            <select class="form-control" id="input-category" ng-model="product.category"
                    ng-options="cat.name for cat in categories">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="input-name" class="col-sm-3 control-label">Наименование:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="input-name" ng-model="product.name">
          </div>
        </div>
        <div class="form-group">
          <label for="input-amount" class="col-sm-3 control-label">Количество:</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="input-amount" ng-model="product.amount">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="product.byWeight"> На развес
              </label>
            </div>
          </div>
        </div>
      </form>
    </tab>
    <tab heading="Цена">
      <form role="form" class="form-horizontal" novalidate>
        <div class="form-group"></div>
        <div class="form-group">
          <label for="input-price" class="col-sm-3 control-label">Цена (Опт):</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="input-price" ng-model="product.discount.bulkPrice">
          </div>
        </div>
        <div class="form-group">
          <label for="input-price" class="col-sm-3 control-label">Цена (Розница):</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="input-bulkPrice" ng-model="product.price">
          </div>
        </div>
        <div class="form-group">
          <label for="input-discount" class="col-sm-3 control-label">Скидка:</label>
          <div class="col-sm-9">
            <div class="input-group">
              <input type="number" class="form-control" id="input-discount" ng-model="product.discount.discount">
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">{{product.category.discount}} %</span> Скидка в категории {{product.category.name}}
          </li>
        </ul>
      </form>
    </tab>
  </tabset>
  <!--&lt;!&ndash; Nav tabs &ndash;&gt;
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#main" role="tab" data-toggle="tab">Главное</a></li>
    <li><a href="#discounts" role="tab" data-toggle="tab">Скидки</a></li>
    <li><a href="#misc" role="tab" data-toggle="tab">Правила</a></li>
  </ul>

  &lt;!&ndash; Tab panes &ndash;&gt;
  <div class="tab-content">
    <div class="tab-pane active" id="main">

    </div>
    <div class="tab-pane" id="discounts">
      <form role="form" class="form-horizontal">
        <div class="form-group"></div>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">3%</span>
            Категория "Бразильский кофе"
          </li>
        </ul>
        <div class="form-group">
          <label for="input-discount" class="col-sm-3 control-label">Скидка на этот товар:</label>
          <div class="col-sm-9">
            <div class="input-group">
              <input type="number" class="form-control" id="input-discount" value="0">
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
        <div class="btn-group btn-group-sm">
          <button class="btn btn-primary"><span class="glyphicon glyphicon-gift"></span> Перейти в редактор скидок</button>
        </div>

      </form>
    </div>
    <div class="tab-pane" id="misc">
      <form role="form" class="form-horizontal">
        <div class="form-group"></div>
        <div class="form-group">
          <label for="opt-discount" class="col-sm-3 control-label">Оптовая скидка: </label>
          <div class="col-sm-9">
            <div class="input-group">
              <input type="number" class="form-control" id="opt-discount" value="7">
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="opt-amount" class="col-sm-3 control-label">Мин. размер партии: </label>
          <div class="col-sm-9">
            <div class="input-group">
              <input type="number" class="form-control" id="opt-amount" value="30">
              <span class="input-group-addon">шт</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="store-amount" class="col-sm-3 control-label">Мин. остаток на складе: </label>
          <div class="col-sm-9">
            <div class="input-group">
              <input type="number" class="form-control" id="store-amount" value="5">
              <span class="input-group-addon">шт</span>
            </div>
          </div>
        </div>
      </form>
    </div>-->
  </div>
</div>
<div class="modal-footer">
  <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Отменить</button>
    <button type="button" class="btn btn-primary" ng-click="save()">Сохранить</button>
  </div>
</div>
