<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group input-group-lg">
      <div class="input-group-btn">
        <button class="btn btn-default dropdown-toggle" dropdown type="button">
          <span class="glyphicon glyphicon-barcode" ng-if="activeOption.name === 'id'"></span>
          <span ng-hide="activeOption.name === 'id'">{{activeOption.label}}</span>
          <span class="caret" ng-show="searchOptions.length > 1"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="option in searchOptions" ng-click="setActive(option)">
            {{option.label}}
          </li>
        </ul>
      </div>

      <input type="text" class="form-control" ng-model="searchText">

      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </div>
    </div>
  </div>

  <ng-transclude></ng-transclude>

  <div class="panel-footer">
    <div class="btn-toolbar js-actions">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-default" ng-if="cancel" ng-click="cancel()">
          <span class="glyphicon glyphicon-ban-circle"></span> Отменить
        </button>
        <button type="button" class="btn btn-primary" ng-if="save" ng-click="save()">
          <span class="glyphicon glyphicon-shopping-cart"></span> Сохранить
        </button>
      </div>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-default" ng-if="add" ng-click="add()">
          <span class="glyphicon glyphicon-plus"></span> Добавить
        </button>
      </div>
    </div>
  </div>
</div>
