<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Отчеты</h4>
      </div>
      <div class="panel-body">
        <tabset>
          <tab heading="Продажи">
            <table class="table">
              <thead>
              <tr>
                <th width="10%">Время</th>
                <th width="10%">Сумма, р</th>
                <th width="10%">Вид оплаты</th>
                <th width="15%">Клиент</th>
                <th>Товары</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="sale in sales">
                <td>{{sale.orderTime}}</td>
                <td>{{sale.total | number:2}}</td>
                <td>{{sale.paymentMethod === 'CASH' ? 'Наличные' : 'Карта'}}</td>
                <td>{{sale.client.name}}</td>
                <td>
                  <accordion>
                    <accordion-group heading="Показать ({{sale.items.length}})">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Наименование</th>
                          <th>Цена, р</th>
                          <th>Количество</th>
                          <th>Скидка, %</th>
                          <th>Сумма, р</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in sale.items">
                          <td>{{item.original.name}}</td>
                          <td>{{item.price | number:2}}</td>
                          <td>{{item.amount}}</td>
                          <td>{{item.discount}}</td>
                          <td>{{item.total | number:2}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </accordion-group>
                  </accordion>
                </td>
              </tr>
              </tbody>
            </table>
          </tab>
          <tab heading="За день">
            <table>

            </table>
          </tab>
          <tab heading="Детальный">
            <table class="table">
              <thead>
              <tr>
                <th>Наименование</th>
                <th>Куплено</th>
                <th>Цена покупки, р</th>
                <th>Продано</th>
                <th>Цена продажи, р</th>
                <th>Скидка, %</th>
                <th>Сумма продажи, р</th>
                <th>Прибыль, р</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="report in advancedReports">
                <td>{{report.productName}}</td>
                <td>{{report.invoiceAmount}}</td>
                <td>{{report.invoicePrice | number:2}}</td>
                <td>{{report.soldAmount}}</td>
                <td>{{report.soldPrice | number:2}}</td>
                <td>{{report.discount}} <discount-type type="report.discountType"></discount-type></td>
                <td>{{report.soldSumPrice | number:2}}</td>
                <td>{{report.profit | number:2}}</td>
              </tr>
              </tbody>
            </table>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
