<div class="row">
  <div class="col-sm-12">
    <h3>Новая накладная</h3>
  </div>
</div>
<div class="row">
  <alert ng-show="notFound" type="danger">
    <p>Товар с наименованием &laquo;{{newItem.product.name}}&raquo; не найден.</p>

    <p>
      <button type="button" class="btn btn-default btn-xs" ng-click="newProduct(newItem.product.id)">Добавить товар
      </button>
    </p>
  </alert>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="invoice-number">Номер накладной</label>

            <div class="input-group">
              <div class="input-group-addon">№</div>
              <input type="text" class="form-control" id="invoice-number" placeholder="Номер"
                     ng-model="invoice.code">
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="invoice-date">Дата</label>

            <div class="input-group">
              <input type="text" class="form-control" id="invoice-date" datepicker-popup="dd.MM.yyyy"
                     ng-model="invoice.date"
                     is-open="opened"
                     placeholder="Дата">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><span
              class="glyphicon glyphicon-calendar"></span></button>
          </span>
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="invoice-contractor">Контрагент</label>

            <div class="input-group">
              <select id="invoice-contractor" class="form-control">
                <option disabled selected value="">Контрагент</option>
              </select>
              <div class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></div>
            </div>
          </div>
        </form>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Наименование</th>
          <th>Штрих-код</th>
          <th>Количество</th>
          <th>Цена, р</th>
          <th>Сумма, р</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <label class="sr-only" for="invoice-item-name">Наименование</label>

            <input type="text" id="invoice-item-name" ng-model="newItem.product.name" list="invoice-item-name-list">
            <datalist id="invoice-item-name-list">
              <option ng-repeat="name in productNames" value="{{name}}">
            </datalist>
          </td>
          <td>
            {{newItem.product.id}}
          </td>
          <td>
            <label class="sr-only" for="invoice-item-amount">Количество</label>
            <input type="number" id="invoice-item-amount" ng-model="newItem.amount">
          </td>
          <td>
            <label class="sr-only" for="invoice-item-incomePrice">Цена (приход)</label>
            <input type="text" id="invoice-item-incomePrice" ng-model="newItem.incomePrice">
          </td>
          <td>
            {{newItem.incomePrice * newItem.amount}}
          </td>
          <td>
            <button class="btn btn-default btn-sm" type="button" ng-class="{disabled: !newItem.product.id}"
                    ng-click="addItem(invoice, newItem)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </td>
        </tr>
        <tr ng-repeat="item in invoice.items">
          <td>{{item.product.id}}</td>
          <td>{{item.product.name}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.price | number:2}}</td>
          <td>{{item.product.price | number:2}}</td>
          <td>
            <button class="btn btn-danger btn-sm" type="button" ng-click="removeItem(invoice, item)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="panel-footer">
        <div class="btn-group btn-group-sm">
          <a class="btn btn-default" href="#/products/invoices">Отменить</a>
          <input type="submit" class="btn btn-primary" ng-disabled="!invoice.code || !invoice.items.length"
                 ng-click="save(invoice)" value="Сохранить">
        </div>
      </div>
    </div>

  </div>
</div>
