<div class="modal-header">
  <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
  <p>{{msg}}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" ng-click="$close()">OK</button>
</div>
