<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Sales Assistant</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#/order"><span class="glyphicon glyphicon-shopping-cart"></span> Продажа</a></li>
        <li><a href="#/clients"><span class="glyphicon glyphicon-user"></span> Клиенты</a></li>
        <li><a href="#/reports"><span class="glyphicon glyphicon-list-alt"></span> Отчет</a></li>
        <li><a href="#/products"><span  class="glyphicon glyphicon-tasks"></span> Товары</a></li>
        <li><a href="#/discounts"><span  class="glyphicon glyphicon-gift"></span> Скидки</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
      </ul>
    </div>
  </div>
</nav>
