<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Накладные</h4>
      </div>
      <div class="panel-body">
        <p ng-hide="invoices.length">Нет добавленных накладных</p>
        <table class="table" ng-show="invoices.length">
          <thead>
          <tr>
            <th width="10%">Номер</th>
            <th width="10%">Дата</th>
            <th width="10%">Сумма</th>
            <th width="10%">Контрагент</th>
            <th width="50%">Товары</th>
            <th width="5%"></th>
            <th width="5%"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="invoice in invoices">
            <td>{{invoice.code}}</td>
            <td>{{invoice.date}}</td>
            <td>{{invoice.total}}</td>
            <td>{{invoice.contractor}}</td>
            <td>
              <accordion>
                <accordion-group heading="Показать ({{invoice.items.length}})">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Штрих-код</th>
                      <th>Наименование</th>
                      <th>Количество</th>
                      <th>Цена (приход)</th>
                      <th>Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in invoice.items">
                      <td>{{item.product.id}}</td>
                      <td>{{item.product.name}}</td>
                      <td>{{item.amount}}</td>
                      <td>{{item.price | number:2}}</td>
                      <td>{{item.price * item.amount | number:2}}</td>
                    </tr>
                    </tbody>
                  </table>
                </accordion-group>
              </accordion>
            </td>
            <td>
              <a class="btn btn-default btn-sm disabled"  ng-href="#/products/invoices/{{invoice.id}}">
                <span class="glyphicon glyphicon-edit"></span></a>
            </td>
            <td>
              <button class="btn btn-danger btn-sm" ng-click="remove(invoice)">
                <span class="glyphicon glyphicon-trash"></span></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <div class="btn-group btn-group-sm">
          <a type="button" class="btn btn-default" href="#/products/invoices/add">
            <span class="glyphicon glyphicon-file"></span> Новая накладная
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
