<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span
    class="sr-only">Close</span></button>
  <h4 class="modal-title"><span class="glyphicon glyphicon-edit"></span> {{client.name}}</h4>
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal">
    <div class="form-group"></div>
    <div class="form-group">
      <label for="input-barcode" class="col-sm-3 control-label">Штрих-код:</label>

      <div class="col-sm-9">
        <input type="text" class="form-control" id="input-barcode" ng-model="client.id" disabled>
      </div>
    </div>
    <div class="form-group">
      <label for="input-name" class="col-sm-3 control-label">ФИО:</label>

      <div class="col-sm-9">
        <input type="text" class="form-control" id="input-name" ng-model="client.name">
      </div>
    </div>
    <div class="form-group">
      <label for="input-dateOfBirth" class="col-sm-3 control-label">Дата рождения:</label>

      <div class="col-sm-9">
        <input type="datetime" class="form-control" id="input-dateOfBirth" ng-model="client.dateOfBirth">
      </div>
    </div>
    <div class="form-group">
      <label for="input-email" class="col-sm-3 control-label">E-mail:</label>

      <div class="col-sm-9">
        <input type="email" class="form-control" id="input-email" ng-model="client.email">
      </div>
    </div>
    <div class="form-group">
      <label for="input-telephone" class="col-sm-3 control-label">Телефон:</label>

      <div class="col-sm-9">
        <input type="text" class="form-control" id="input-telephone" ng-model="client.telephone">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Отменить</button>
    <button type="button" class="btn btn-primary" ng-click="$close(client)">Сохранить</button>
  </div>
</div>
