<div class="row">
  <div class="col-xs-12">
    <grid-panel>
      <table class="table">
        <thead>
        <tr>
          <th>Штрих-код</th>
          <th>ФИО</th>
          <th>Дата рождения</th>
          <th>Номер телефона</th>
          <th>E-mail</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="client in clients">
          <td>{{client.id}}</td>
          <td>{{client.name}}</td>
          <td>{{client.dateOfBirth}}</td>
          <td>{{client.telephone}}</td>
          <td>{{client.email}}</td>
          <td>
            <button class="btn btn-default btn-sm" ng-click="edit(client)"><span
              class="glyphicon glyphicon-edit"></span></button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" ng-click="remove(client)"><span
              class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
        </tbody>
      </table>
    </grid-panel>
  </div>
</div>
