<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-edit"></span> Категория
  </h4>
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal" novalidate>
    <div class="form-group"></div>
    <div class="form-group">
      <label for="input-name" class="col-sm-3 control-label">Название:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="input-name" ng-model="category.name">
      </div>
    </div>
    <div class="form-group">
      <label for="input-discount" class="col-sm-3 control-label">Скидка:</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input type="number" class="form-control" id="input-discount" ng-model="category.discount">
          <span class="input-group-addon">%</span>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Отменить</button>
    <button type="button" class="btn btn-primary" ng-click="save(category)">Сохранить</button>
  </div>
</div>
